.comments{
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__field {
  overflow: auto;
  resize: none;
	outline: none;
	-moz-appearance: none;
  border: 1px solid transparent;
  border-radius: .5rem;
  padding: .3rem;
  min-width: 100%;
  }
  &__btn {
    cursor: pointer;
    align-self: flex-end;
    outline: none;
    padding: .4rem 1rem .3rem;
    text-align: center;
    color:#FFF;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
    margin-top: .4rem;
    text-shadow:-1px -1px 0 #A84155;
    background: #5079d2;
    border:1px solid #5079d2;

    background-image:-webkit-linear-gradient(top, #6ca3f6, #508dd2);
    background-image:-moz-linear-gradient(top, #6ca3f6, #508dd2);
    background-image:-ms-linear-gradient(top, #6ca3f6, #508dd2);
    background-image:-o-linear-gradient(top, #6ca3f6, #508dd2);
    background-image:linear-gradient(to bottom, #6c6ef6, #505dd2);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #425bad, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #425bad, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #425bad, 0 4px 2px rgba(0, 0, 0, .5);
    &:before {
      background:#f0f0f0;
      background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;

      -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
      -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
      box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

      position: absolute;
      content: "";
      left: -6px; right: -6px;
      top: -6px; bottom: -10px;
      z-index: -1;
    }
    &:active {
      -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	    top:5px;
    }
    &:active:before {
      top: -11px;
      bottom: -5px;
      content: "";
    }
    &:hover {
      background: #6e6cf6;
      background-image:-webkit-linear-gradient(top, #5059d2, #816cf6);
      background-image:-moz-linear-gradient(top, #5059d2, #816cf6);
      background-image:-ms-linear-gradient(top, #5059d2, #816cf6);
      background-image:-o-linear-gradient(top, #5059d2, #816cf6);
      background-image:linear-gradient(top, #6850d2, #816cf6);
    }
  }
}
