<ul class="comments__list">
  <li class="comment">
    <app-comment [comment] = "comment"></app-comment>

    <ng-container *ngIf="comment.comments">
      <ul class="comments__list">
        <ng-container *ngFor="let comment of comment.comments">
          <li class="comment">
            <span class="comment__icon material-icons">
              subdirectory_arrow_right
            </span>
            <app-comment [comment] = "comment"></app-comment>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </li>
</ul>
