.comments__list {
  margin: 1rem 0 0;
  padding: 0;
  list-style: none;
  &:not(:first-child) {
    margin-left: .5rem;
  }
}

.comment {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 1px 0 0 2px  rgba(195, 195, 195, .05);
  background-color: rgba(195, 195, 195, .15);
  padding: .2rem;
  &:not(:first-child) {
    margin-top: .5rem;
  }
  &__icon {
    position: absolute;
    font-size: 1.3rem;
    left: -.9rem;
    top: 50%;
    transform: translateY(-50%);
    color: #c3c3c3;
  }
}
