:host {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comments {
  background-image: radial-gradient(
  rgb(237, 251, 255),
  rgb(231, 248, 255),
  rgb(226, 245, 255),
  rgb(220, 242, 255),
  rgb(215, 239, 255),
  rgb(209, 236, 255),
  rgb(204, 234, 255),
  rgb(198, 231, 255),
  rgb(193, 228, 255),
  rgb(187, 225, 255),
  rgb(182, 222, 255),
  rgb(176, 219, 255));
  max-width: 85rem;
  margin: 0 auto;
  padding: 1rem .8rem;
}
